.contacts {
  display: flex;
  flex-direction: column;
  background: rgb(48, 48, 48);
  height: 83vh;
  background-image: url(../../Images/background.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.minus {
  margin-left: 525px;
  border-bottom: 2px solid white;
  height: 30px;
  width: 550px;
}

.contacts-img {
  margin-top: 5vh;
  text-align: center;
}

.contacts-img img {
  height: 70px;
  width: 400px;
}

.booking {
  color: white;
  font-size: 20px;
  margin-top: 9vh;
  text-align: center;
}

.booking-e-mail {
  color: white;
  font-size: 20px;
  margin-top: 3vh;
  text-align: center;
}

.booking-e-mail a {
  color: white;
  text-decoration: none;
}

.office-title {
  font-size: 20px;
  margin-bottom: 15px;
}

.pressoffice {
  color: white;
  font-size: 20px;
  margin-top: 3vh;
  text-align: center;
}

.pressoffice a {
  color: white;
  text-decoration: none;
}

.webmaster {
  color: white;
  font-size: 20px;
  margin-top: 3vh;
  text-align: center;
}

.webmaster-contact {
  margin-top: -18px;
  font-size: 20px;
}

.webmaster-contact a {
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 1370px) {
  .contacts {
    height: 94vh;
  }

  .webmaster {
    font-size: 20px;
    margin-top: 3vh;
  }

  .webmaster-contact {
    margin-top: -18px;
    font-size: 20px;
  }

  .office-title {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .pressoffice {
    font-size: 20px;
    margin-top: 3vh;
  }

  .minus {
    margin-left: 395px;
  }
}

@media only screen and (max-width: 360px) {
  .contacts {
    height: 590px;
    background-repeat: repeat;
  }

  .contacts-img img {
    height: 50px;
    width: 250px;
  }

  .minus {
    margin-left: 10px;
    border-bottom: 2px solid white;
    height: 30px;
    width: 340px;
  }
}
