@font-face {
  font-family: "Rockness";
  src: url("../../Fonts/Rockness.ttf");
}

@font-face {
  font-family: "Sriracha";
  src: url("../../Fonts/Sriracha.ttf");
}

.music {
  background: rgb(48, 48, 48);
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  height: 870px;
  justify-content: space-around;
  background-image: url(../../Images/background.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.music-title {
  /* background: rgb(0, 0, 0); */
  font-size: 90px;
  font-family: "Rockness";
  align-self: center;
  color: white;
}

.music-album {
  height: 340px;
  width: 340px;
}

.music-img {
  height: 350px;
  width: 350px;
  margin-top: -200px;
}

.music-track {
  font-family: "Sriracha";
  color: white;
  font-size: 20px;
  width: 350px;
  margin-top: 20px;
}

.music-icon {
  align-self: center;
}

.spotify-icon {
  height: 65px;
  width: 150px;
}

.deezer-icon {
  height: 51px;
  margin-bottom: 7px;
  padding-right: 25px;
}

.apple-icon {
  height: 52px;
  width: 130px;
  margin-left: -18px;
  margin-bottom: 7px;
}

@media screen and (max-width: 1430px) {
  .music-title {
    font-size: 75px;
  }

  .music-album {
    height: 270px;
    width: 270px;
  }

  .music-img {
    height: 280px;
    width: 280px;
    margin-top: -200px;
  }

  .music-track {
    font-family: "Sriracha";
    color: white;
    font-size: 19px;
    width: 350px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 1370px) {
  .music-title {
    font-size: 70px;
  }

  .music-track {
    font-size: 16px;
  }

  .music {
    height: 840px;
  }
}

@media screen and (max-width: 1200px) {
  .music {
    height: 570px;
  }

  .music-title {
    font-size: 65px;
    margin-right: 20px;
  }

  .music-album {
    height: 233px;
    width: 233px;
  }

  .music-img {
    height: 200px;
    width: 200px;
    margin-top: -200px;
    margin-left: 15px;
  }

  .music-track {
    font-size: 14px;
    margin-top: 17px;
    margin-left: 15px;
  }

  .spotify-icon {
    height: 50px;
    width: 115px;
    margin-bottom: 1px;
    margin-right: 1px;
  }

  .deezer-icon {
    height: 39px;
    width: 129px;
  }

  .apple-icon {
    height: 39px;
    width: 100px;
    margin-left: -18px;
    margin-bottom: 7px;
  }
}

@media screen and (max-width: 990px) {
  .music {
    height: 500px;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
  }

  .music-title {
    font-size: 60px;
    margin-right: 20px;
  }

  .music-album {
    height: 203px;
    width: 203px;
  }

  .music-img {
    height: 180px;
    width: 180px;
    margin-top: -200px;
    margin-left: 15px;
  }

  .music-track {
    font-size: 12px;
    margin-top: 17px;
    margin-left: 15px;
  }

  .spotify-icon {
    height: 40px;
    width: 95px;
    margin-bottom: 2px;
    margin-right: 1px;
  }

  .deezer-icon {
    height: 31px;
    width: 109px;
  }

  .apple-icon {
    height: 31px;
    width: 85px;
    margin-left: -18px;
    margin-bottom: 7px;
  }
}

@media screen and (max-width: 720px) {
  .music {
    height: 1420px;
    flex-direction: column;
  }

  .music-title {
    font-size: 45px;
    margin-top: 20px;
  }

  .music-album {
    height: 900px;
    width: 180px;
  }

  .music-img {
    height: 250px;
    width: 250px;
    margin-left: 215px;
  }

  .music-track {
    font-size: 19px;
    margin-top: 17px;
    margin-left: 215px;
  }

  .spotify-icon {
    height: 45px;
    width: 100px;
    margin-bottom: 9px;
    margin-left: -2px;
  }

  .deezer-icon {
    height: 36px;
    width: 116px;
    margin-left: 7px;
    margin-bottom: 13px;
  }

  .apple-icon {
    height: 38px;
    width: 92px;
    margin-left: -13px;
    margin-bottom: 13px;
  }
}

@media screen and (max-width: 550px) {
  .music {
    height: 1420px;
    flex-direction: column;
  }

  .music-title {
    font-size: 45px;
    margin-top: 20px;
  }

  .music-album {
    height: 900px;
    width: 180px;
  }

  .music-img {
    height: 250px;
    width: 250px;
    margin-left: 115px;
  }

  .music-track {
    font-size: 19px;
    margin-top: 17px;
    margin-left: 115px;
  }

  .spotify-icon {
    height: 45px;
    width: 100px;
    margin-bottom: 9px;
    margin-left: -2px;
  }

  .deezer-icon {
    height: 36px;
    width: 116px;
    margin-left: 7px;
    margin-bottom: 13px;
  }

  .apple-icon {
    height: 38px;
    width: 92px;
    margin-left: -13px;
    margin-bottom: 13px;
  }
}

@media only screen and (max-width: 360px) {
  .music-album,
  .music-title {
    font-size: 15px;
    margin-left: 10px;
  }

  .music-img {
    height: 200px;
    width: 200px;
    margin-left: -13px;
    margin-top: 30px;
  }

  .music-track {
    text-align: center;
    font-size: 15px;
    margin-left: -90px;
  }

  .music {
    height: 1200px;
    background-repeat: repeat;
  }

  .music-icon {
    margin-top: 40px;
  }
}
