@font-face {
  font-family: "";
  src: url("../Fonts/Sriracha.ttf");
}

video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.intro-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  object-fit: contain;
  background-color: black;
}

.title {
  background-color: black !important;
}

.intro-title {
  color: white;
  font-size: 40px;
  text-align: center;
  font-family: "Sriracha";
}

.intro-sub {
  color: white;
  font-size: 25px;
  text-align: center;
  font-family: "Sriracha";
  margin-top: -17px;
}

@media only screen and (max-width: 360px) {
  .intro-title {
    font-size: 25px;
    margin: 0;
  }

  .intro-sub {
    font-size: 20px;
  }
}
